/* reset.css */

* { 
    margin: 0;
    padding: 0;
    transition: .5s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

/* end reset.css */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}


/* Breakpoints: 1200px 980px 460px */

/* 1200px/16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/* 980px/16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px/16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 50%;
    }
}


body {
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    background: #f1f2f6;

  }

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 2rem;
}

h2 {
  font-size: 3.8rem;
}